<div class="jumbotron jumbotron-fluid">
    <h1 id="title">Google Bytes</h1>
</div>

<div class="container-fluid">
    <nav style="margin-bottom: 2rem;">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a routerLink="/" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
            <a routerLink="/profile" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
        </div>
    </nav>

    <router-outlet></router-outlet>
</div>
