<div class="row">
  <div class="col-md-12">
    <h2 id="title_sub">{{title}}</h2>
  </div>
</div>

<div id="mainRow" class="row">
  <div class="col-md-4" *ngFor="let city of states">
    <div class="card"  style="margin-bottom: 2rem;"> 
      <div class="card-header">
        <h5>{{city}}</h5>
      </div>
        <ul class="list-group " *ngFor="let item of savedItem; let i = index;">
          <li class="list-group-item list-group-item-action" *ngIf="item.address_components[3].long_name == city" >
            <div class="row">
              <div class="col-md-8">
                  {{item.name}}<br>
                  {{item.formatted_phone_number}}<br>
                  {{item.vicinity}}
              </div>
              <div class="col-md-4">
                  <a role="button" [routerLink]="['/detail', item.place_id]" class="btn btn-secondary btn-sm" style="width: 6rem; margin-bottom: .5rem">Full Info</a>
                  <a role="button" href={{item.website}} target="_blank" class="btn btn-info btn-sm" style="width: 6rem; margin-bottom: .5rem">Website</a>
                  <button (click)="onDeleteItem(i)" type="button" class="btn btn-danger btn-sm" style="width: 6rem; margin-bottom: .5rem">
                   Delete 
                  </button>
              </div>
            </div>
            
          </li>
        </ul>
    </div>
  </div>
</div>


